# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache.cache

.cache
services/web/.cache/
services/web/build/
services/web/public/build/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
stories
public/build/
public/video
public/cards
data/*
TODO.md
.aider*
lib/author/assets
services/render/test-snapshots/*/diff
services/render/test-snapshots/*/latest
.env
tests/@editframe/api/test-av-file.txt
lib/packages

# Ignore the downloads directory
.editframe-downloads/

# Ignore the sandbox directory
sandbox/services/render/test-render/deps/
sandbox/
services/render/test-render/deps/

# Ignore test audio data
services/transcribe/test-transcribe/*.padded.wav.json
services/transcribe/test-transcribe/*.wav
services/transcribe/test-transcribe/*.wav.json
./renders/
.react-router
build/
services/render/test-render/deps*
temp/
debug-frames/
output/*.claude/
.claude/
output/
